Repository nmsn/utils: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache, prettier --check, jest --bail --findRelatedTests

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,less,json}": ["eslint --cache", "prettier --check"],
  "**/*.{js,jsx,ts,tsx}": ["jest --bail --findRelatedTests"]
}

build: move react to peerDependencies
  package.json
  pnpm-lock.yaml
Due: eslint --cache, prettier --check

docs: update todo
  README.md
Due: none

feat(hooks): add useNoRenderState
  src/hooks/useNoRenderState.ts
Due: eslint --cache, prettier --check, jest --bail --findRelatedTests

test(test): add useNoRenderState tests
  src/__tests__/hooks/useNoRenderState.test.ts
Due: eslint --cache, prettier --check, jest --bail --findRelatedTests

feat(hooks): update useNoRenderState
  src/hooks/useNoRenderState.ts
Due: eslint --cache, prettier --check, jest --bail --findRelatedTests

test(hooks): update useNoRenderState
  src/__tests__/hooks/useNoRenderState.test.ts
Due: eslint --cache, prettier --check, jest --bail --findRelatedTests

docs(readme): update todo
  README.md
Due: none

feat(validator): add isObj and isValidObj
  src/__tests__/validator/index.test.ts
  src/validator/index.ts
Due: eslint --cache, prettier --check, jest --bail --findRelatedTests

feat(format): add deleteAttr and test
  src/__tests__/format/index.test.ts
  src/format/index.ts
Due: eslint --cache, prettier --check, jest --bail --findRelatedTests

refactor: update
  src/__tests__/hooks/useNoRenderState.test.ts
Due: eslint --cache, prettier --check, jest --bail --findRelatedTests

feat(hooks): add useRendeCount
  src/__tests__/hooks/useRenderCount.test.ts
  src/hooks/useRenderCount.tsx
Due: eslint --cache, prettier --check, jest --bail --findRelatedTests

feat(hooks): add usePrevious
  src/__tests__/hooks/usePrevious.test.ts
  src/hooks/usePrevious.ts
Due: eslint --cache, prettier --check, jest --bail --findRelatedTests

feat(hooks): add useDidUpdate hook
  src/__tests__/hooks/useDidUpdate.test.ts
  src/hooks/useDidUpdate.ts
Due: eslint --cache, prettier --check, jest --bail --findRelatedTests

feat(validator): isValidNaturalNumber
  src/__tests__/validator/index.test.ts
  src/validator/index.ts
Due: eslint --cache, prettier --check, jest --bail --findRelatedTests

feat(format): filterObjAttrs
  src/__tests__/format/index.test.ts
  src/format/index.ts
Due: eslint --cache, prettier --check, jest --bail --findRelatedTests

feat(format): add toFraction func
  src/__tests__/format/index.test.ts
  src/format/index.ts
Due: eslint --cache, prettier --check, jest --bail --findRelatedTests

feat(format): add filterObjectAttrs formatAttrs config
  src/__tests__/format/index.test.ts
  src/format/index.ts
Due: eslint --cache, prettier --check, jest --bail --findRelatedTests

docs: add todo
  README.md
Due: none

feat(validator): add isMap isValidMap validator
  src/__tests__/validator/index.test.ts
  src/validator/index.ts
Due: eslint --cache, prettier --check, jest --bail --findRelatedTests

docs: add a todo function getTwoWayDataFromMapOrObj
  README.md
Due: none

docs: add new todo
  README.md
Due: none

feat(hooks): add useLoading
  src/hooks/useLoading.ts
Due: eslint --cache, prettier --check, jest --bail --findRelatedTests

feat(format): add nameCaseTransform
  src/__tests__/format/index.test.ts
  src/format/index.ts
Due: eslint --cache, prettier --check, jest --bail --findRelatedTests

feat(format): add removeMultipleStrLeadingSpace
  src/__tests__/format/index.test.ts
  src/format/index.ts
Due: eslint --cache, prettier --check, jest --bail --findRelatedTests

feat(hooks): add useStateCallback
  src/__tests__/hooks/useStateCallback.test.ts
  src/hooks/useStateCallback.ts
Due: eslint --cache, prettier --check, jest --bail --findRelatedTests

chore(hooks): remove chore code
  src/__tests__/hooks/useStateCallback.test.ts
Due: eslint --cache, prettier --check, jest --bail --findRelatedTests

fix(hooks): fix useStateCallback test
  src/__tests__/hooks/useStateCallback.test.ts
Due: eslint --cache, prettier --check, jest --bail --findRelatedTests

chore: update
  .lintstagedrc.json
Due: eslint --cache, prettier --check

feat(format): update doc and test
  .dumirc.ts
  .gitignore
  docs/index.md
  dumirc.ts
  package.json
  src/__tests__/format/index.test.ts
  src/format/addThousandSeparator/demo/demo1.tsx
  src/format/addThousandSeparator/index.md
  src/format/addThousandSeparator/index.test.ts
  src/format/addThousandSeparator/index.ts
  src/format/arr2Obj/demo/demo1.tsx
  src/format/arr2Obj/index.md
  src/format/arr2Obj/index.test.ts
  src/format/arr2Obj/index.ts
  src/format/deleteAttrs/index.md
  src/format/deleteAttrs/index.ts
  src/format/displayWithUnit/index.md
  src/format/displayWithUnit/index.ts
  src/format/filterObjAttrs/index.md
  src/format/filterObjAttrs/index.ts
  src/format/formatDecimals2Percent/index.md
  src/format/formatDecimals2Percent/index.ts
  src/format/formatSectionStr/index.md
  src/format/formatSectionStr/index.ts
  src/format/getSuffix/index.md
  src/format/getSuffix/index.ts
  src/format/index.ts
  src/format/nameCaseTransform/index.md
  src/format/nameCaseTransform/index.ts
  src/format/removeMultipleStrLeadingSpace/index.md
  src/format/removeMultipleStrLeadingSpace/index.ts
  src/format/toFraction/index.md
  src/format/toFraction/index.ts
  tsconfig.json
Due: eslint --cache, prettier --check, jest --bail --findRelatedTests

feat(validator): 增加 number 校验
  src/__tests__/validator/index.test.ts
  src/validator/index.ts
Due: eslint --cache, prettier --check, jest --bail --findRelatedTests

fix(regex): fix money regex
  src/regex/index.ts
Due: eslint --cache, prettier --check, jest --bail --findRelatedTests

feat: 更改 linststated 配置，没有匹配到测试用例可以通过
  .lintstagedrc.json
Due: eslint --cache, prettier --check

feat(format): 金额格式化函数
  src/format/addThousandSeparator/demo.tsx
  src/format/addThousandSeparator/demo/demo1.tsx
  src/format/addThousandSeparator/index.md
Due: eslint --cache, prettier --check, jest --bail --findRelatedTests

test(format): 补充测试用例
  src/format/addThousandSeparator/index.test.ts
Due: eslint --cache, prettier --check, jest --bail --findRelatedTests

docs(format): update
  src/format/addThousandSeparator/index.md
Due: none

feat(format): arr2Obj dumi
  src/format/arr2Obj/demo.tsx
  src/format/arr2Obj/index.md
Due: eslint --cache, prettier --check, jest --bail --findRelatedTests

feat(format): remove deleteAttrs
  src/format/deleteAttrs/index.md
  src/format/deleteAttrs/index.ts
Due: eslint --cache, prettier --check, jest --bail --findRelatedTests

feat(format): add displayWithUnit dumi
  src/format/displayWithUnit/demo.tsx
  src/format/displayWithUnit/index.md
  src/format/displayWithUnit/index.test.ts
Due: eslint --cache, prettier --check, jest --bail --findRelatedTests

feat(validator): add isValidStr
  src/__tests__/validator/index.test.ts
  src/validator/index.ts
Due: eslint --cache, prettier --check, jest --bail --findRelatedTests
